@keyframes color {
  0% {
    background: #a5fd3925;
  }

  20% {
    background: #00ffae25;
  }

  40% {
    background: #fadc3025;
  }

  60% {
    background: #00ffae25;
  }

  80% {
    background: #fadc3025;
  }

  100% {
    background: #a5fd3925;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 16px);
  /* Ajout modif pour enlever la scrollbar */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;
  background: #a5fd3975;
  /* Fallback */
  background: linear-gradient(to bottom, #a5fd3982 0%, #a5fd3982 100%);
  animation: color 10s infinite linear;
}

.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/globe.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 550px;
  height: 550px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

h1 {
  text-shadow: 5px 5px 5px #333333;
  margin-top: 10px;
  margin-bottom: 20px;
}

#welcome-msg {
  width: 50%;
}


a {
  color: #333333;
  text-decoration: none;
}

.question-title {
  text-align: center;
  margin: 0px 20px 0px 20px;
  text-shadow: 5px 5px 5px #333333;
}

.question-title h3 {
  font-size: 24px;
  margin: 0px 30px 0px 30px;
  color: #ff2739;
  text-shadow: 5px 5px 5px #333333;
}

.question-title h5 {
  font-size: 18px;
  align-items: center;
  text-align: center;
  margin: 0px 30px 0px 30px;
  text-shadow: 3px 3px 5px #333333;
}

.options {
  margin-top: 10px;
  display: inline-block;
}

.options label,
input {
  display: block;
  width: 200px;
  margin-bottom: 10px;
  padding: 6px 12px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 3px 5px #333333;
}

.options label:hover {
  background-color: #53fd39;
  color: #ffffff;
}

.options label:checked {
  background-color: #b5c2a5;
  color: #777777;
}

.options input[type="radio"] {
  display: none;
}

.options input[type="radio"]:checked+span {
  color: #777777;
}

.options input[type="radio"]:checked+span:hover {
  color: #777777;
}

#true {
  border-color: 2px #53fd39;
}

#false {
  border-color: 2px #ff2739;
}

.buttons,
.button,
.btn {
  width: 200px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: #00ffae;
  box-shadow: 5px 5px 5px #333333;
  color: #1f1f1f;
  border: 1px solid #ffe;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  text-decoration: none;
}

.buttons button:hover,
.btn:hover {
  background-color: #fadc30;
  color: #1f1f1f;
}

.true-button {
  background-color: #ffffff;
  color: #00ab33;
}

.false-button {
  background-color: #ffc1c1;
  color: #f71515;
}

@media (max-width: 768px) {

  #welcome-msg {
    width: 100%;
    padding-bottom: 50px;
  }

  #index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .question-title h3 {
    font-size: 32px;
  }

  .question-title h5 {
    margin: 0px 0px 5px 0px;
    font-size: 16px;
  }

  .reponses label {
    font-size: 14px;
  }

  .buttons button {
    font-size: 14px;
  }
}

/* DEBUT CSS pour la navbar */
#topnav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  top: 0;
  box-shadow: none;
}

#topnav input {
  width: unset;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

#topnav p {
  background-image: url('../img/score-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: unset;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  height: 60px;
  width: 150px;
  text-shadow: 3px 3px 5px #333333;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* FIN CSS pour la navbar */


#btn-list-index #column button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#btn-list-index #row button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#topnav input {
  color: #777777;
  background-color: #dcdcdc;
  border-radius: 25px;
  box-shadow: none;
  cursor: pointer;
}

#topnav input:hover {
  color: #ffffff;
  border-color: #53fd39;
  background-color: #53fd39;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: none;

}

.timer-container {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#countdown {
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown .countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

#countdown svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#countdown svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
}

.animate-circle {
  animation: countdown 10s linear forwards;
}

#options-container {
  display: flex;
  flex-direction: column;
}

#options-container .rollover {
  margin-bottom: 17px;
}

#options-container .rollover .btn {
  margin-top: unset;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: 113px;
  }
}

@media (max-height: 714px) {

  #topnav p {
    display: none;
  }

}

@media (max-width: 373px) {

  #topnav p {
    display: none;
  }

}