@keyframes color {
  0%   { background: #a5fd3925; }
  20%  { background: #00ffae25; }
  40%  { background: #fadc3025; }
  60%  { background: #00ffae25; }
  80%  { background: #fadc3025; }
  100% { background: #a5fd3925; }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 16px); /* Ajout modif pour enlever la scrollbar */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;
  background: #a5fd3975; /* Fallback */
  background: linear-gradient(to bottom, #a5fd3982 0%, #a5fd3982 100%);
  animation: color 10s infinite linear;
}

.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/globe.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:550px;
  height:550px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

h1 {
  text-shadow: 5px 5px 5px #333333;
  margin-top: 10px;
  margin-bottom: 20px;
}

a {
  color: #333333;
  text-decoration: none;
}

.question-title {
  text-align: center;
  margin: 0px 20px 0px 20px;
  text-shadow: 5px 5px 5px #333333;
}

.question-title h3 {
  font-size: 24px;
  margin: 0px 30px 0px 30px;
  color: #ff2739;
  text-shadow: 5px 5px 5px #333333;
}

.question-title h5 {
  font-size: 18px;
  height: 75px;
  align-items: center;
  text-align: center;
  margin: 0px 30px 0px 30px;
  text-shadow: 3px 3px 5px #333333;
}

.reponses {
  margin-top: 10px;
  display: inline-block;
}

.reponses label {
  display: block;
  margin-bottom: 10px;
  width: 200px;
  padding: 6px 12px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 3px 5px #333333;
}

.reponses label:hover {
  background-color: #53fd39;
  color: #ffffff;
}

.reponses label:checked {
  background-color: #b5c2a5;
  color: #777777;
}

.reponses input[type="radio"] {
  display: none;
}

.reponses input[type="radio"]:checked + span {
  color: #777777;
}

.reponses input[type="radio"]:checked + span:hover {
  color: #777777;
}

#true {
  border-color: 2px #53fd39;
}

#false {
  border-color: 2px #ff2739;
}

.buttons, .button,
.btn {
  width: 200px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: #00ffae;
  box-shadow: 5px 5px 5px #333333;
  color: #1f1f1f;
  border: 1px solid #ffe;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  text-decoration: none;
}

.buttons button:hover,
.btn:hover {
  background-color: #fadc30;
  color: #1f1f1f;
}

.timer-container {
  background-color: #163a79;
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

@media (max-width: 768px) {

  .container {
    display:inline;
  }
  .question-title h3 {
    font-size: 32px;
  }

  .question-title h5 {
    margin: 0px 0px 5px 0px;
    font-size: 16px;
  }

  .reponses label {
    font-size: 14px;
  }

  .buttons button {
    font-size: 14px;
  }
}

/* DEBUT CSS pour la navbar */
#topnav {   
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  top: 0;
}

<<<<<<< HEAD:style.css



=======
#topnav input {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
/* FIN CSS pour la navbar */
>>>>>>> 2ad228d30a72a45d18899c31b429dbf2c5e3888b:css/style.css
