@keyframes color {
	0%   { background: #a5fd3975; }
	20%  { background: #00ffae75; }
	40%  { background: #fadc3075; }
	60%  { background: #00ffae75; }
	80%  { background: #fadc3075; }
	100% { background: #a5fd3975; }
}

body {
  background: #a5fd3982; /* Fallback */
  animation: color 5s infinite linear;
  text-align: center;
  padding: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  /* background-image: linear-gradient(rgba(0, 255, 68, 0.65), rgba(255, 255, 0, 0.49)), url('img/image.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #f82838;
  border: #fadc30 3px solid;
  box-shadow: 0 2px 8px #559a00;
  max-width: 450px;
  color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

.question-title {
  display: flex;
  align-items: center;
}

.question-title h3 {
  font-size: 24px;
  color: #a5fd39;
  margin-right: 5px;
}

.question-title h5 {
  font-size: 18px;
  margin: 0;
}

.reponses {
  margin-top: 10px;
}

.reponses {
  display: inline-block;
}

.reponses label {
  display: block;
  margin-bottom: 10px;
  width: 200px;
  padding: 6px 12px;
  background-color: #a5fd39;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.reponses label:hover {
  background-color: #fadc30;
  color:#f82838;
}

.reponses input[type="radio"] {
  display: none;
}

.reponses input[type="radio"]:checked + span {
  background-color: #f82838;
  color: #ffffff;
}

.reponses input[type="radio"]:checked + span:hover {
  background-color: #a5fd39;
}

.buttons {
  margin-top: 20px;
}

.buttons button, .btn {
  width: 200px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: #fadc30;
  color: #1f1f1f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover, .btn:hover {
  background-color: #a5fd39;
  color: #f82838;
}

@media (max-width: 768px) {
  .container {
    margin: 10px;
  }

  .question-title h3 {
   font-size: 32px;
  }

  .question-title h5 {
    font-size: 16px;
  }

  .reponses button {
    font-size: 14px;
  }

  .buttons button {
    font-size: 14px;
  }
}
